test_run/
# MAC dependent file
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod
*.f90

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
SUEWS_V201*
*.exe
*.out
*.app
wrfinput_d01.nc
freezeH2O.dat
qr_acr_qg.dat
qr_acr_qs.dat
namelist.input.backup.*

# delete log files
*.log

# ignore local configurations
configure.wrf
configure.wrf.backup
warnings.txt
namelist.output
wrfout_d0*
wrfbdy_d01
SumData.DAT
test-run
input-processor/pre-processor-SL/input/bldg_data/
input-processor/pre-processor-SL/Other_modifies/Colombo/bldg_data/
# python related files
.ipynb_checkpoints

############################
# docs:
#   build
docs/build
docs/source/_build

#   doxygen
docs/source/doxygenoutput


############################
# pre-processor output
pre-processor/sample-case/output/


