test_run/
# MAC dependent file
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod
*.f90

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
SUEWS_V201*
*.exe
*.out
*.app
wrfinput_d01.nc
freezeH2O.dat
qr_acr_qg.dat
qr_acr_qs.dat
namelist.input.backup.*

# delete log files
*.log

# ignore local configurations
configure.wrf
configure.wrf.backup
warnings.txt
namelist.output
registry
wrfout_d0*
