# MAC dependent file
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
wrfinput_d01.nc
freezeH2O.dat
qr_acr_qg.dat
qr_acr_qs.dat
WRFV3-zhenkun/netcdf_links/include
WRFV3-zhenkun/netcdf_links/lib
namelist.input.backup.2018-*
