[submodule "WRF"]
	path = WRF
	url = git@github.com:wrf-model/WRF.git
	branch = master
[submodule "SUEWS"]
	path = SUEWS
	url = git@github.com:Urban-Meteorology-Reading/SUEWS.git
	branch = test-dev
[submodule "wiki"]
	path = wiki
	url = git@github.com:Urban-Meteorology-Reading/WRF-SUEWS.wiki.git
